# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

main
*-microservice

# Test binary, build with `go test -c`
*.test
**/test-report.xml
**/*.coverprofile
reports/*.html

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode/
debug
